body {
    color: yellow;
    background-color: black;
}
li {
    color:yellow;
    background-color:black;
}
h2 {
    color:rgb(78, 122, 32);
    background-color: black;
}
footer{
    background-color:black;
    border: 3px;
}